/* static/css/diary.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.label-group, .radio-group {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
}

.radio-group label {
    display: inline-block;
    margin-right: 5px; /* Reduce margin to make icons closer */
}

textarea {
    width: 100%;
    resize: none;
}

input[type="text"] {
    width: 100%; /* Make title input wider */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

button#back-button {
    background-color: #555; /* Gray background for the back button */
}

button#back-button:hover {
    background-color: #777; /* Darker gray on hover */
}

